<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap CSS -->
      <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  <title>Register</title>
</head>
<body>
  <body>
    <h1 style="margin-left: 10px;">Register</h1>
    <form action="/register" method="POST" style="margin: 10px">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Register</button>
    </form>
    <p style="font-size: 15px; color: rgb(42, 215, 100);">Already have an account? <a href="/login">Login</a>!!!</p>
  </body>
  </html>
</body>
</html>