<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TinyApp</title>
</head>
<body>
  <main>
  <p style="font-size: 50px; color: red;">Please <a href="/register">register</a> or <a href="/login">login</a> first!!!</p></main>
</body>
</html>